In [2]:
import pandas as pd
import os

file_path = r"C:\Users\Yosef Maregn\Desktop\ratings-sentiment-project\data\yfinance_data\Data\AAPL.csv"

df_price = pd.read_csv(file_path)
df_price.head()

         Date     Close      High       Low      Open      Volume
0  2009-01-02  2.721686  2.730385  2.554037  2.575630   746015200
1  2009-01-05  2.836553  2.884539  2.780469  2.794266  1181608400
2  2009-01-06  2.789767  2.914229  2.770872  2.877641  1289310400
3  2009-01-07  2.729484  2.774170  2.706990  2.753477   753048800
4  2009-01-08  2.780169  2.793666  2.700393  2.712090   673500800